<div id="idLoginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Login</h4>
          <button id="idCloseModal" type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-12 col-lg-8 col-md-9">

          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <div class="user" >
                    <div class="form-group">
                        <input type="username" class="form-control form-control-user" id="idUsername" aria-describedby="emailHelp" placeholder="Enter Email Address..." required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="idPassword" placeholder="Password" required>
                    </div>

                    <div class="form-group">

                        <div id="idDataRequired" class="form-group" style="display: none;">
                            <ul class="flashes">
                                 <div class="message-flash-warning">Inserire Username e Password!</div>
                            </ul>
                        </div>
                        <div id="idAuthFailed" class="form-group" style="display: none;">
                            <ul class="flashes">
                                 <div class="message-flash-error">Username o Password errati!</div>
                            </ul>
                        </div>
                    </div>
                    <button id="idSubmit" class="btn btn-primary btn-user btn-block">Login</button>
                    <hr>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/">Torna al sito pubblico!</a>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>

    </div>

  </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>

  <!-- Login Modal Script -->
  {% include 'security/security_js.html' %}
