
<script>

    // Open Login Modal if get '/login'
    if ('{{ login }}' == 'LOGIN'){
        $("#idLoginModal").modal();
    }

    // Clear Login Field on Hidden Modal
    $( document ).ready(function() {
        $('#idLoginModal').on("hidden.bs.modal", function () {
            $('#idUsername').val("");
            $('#idPassword').val("");
        });

        // Open Login Modal or redirect to 'admin' if already
        // authenticated when click avatar on top-right side
        $("#idLogin").click(function(){
            if ('{{ current_user.is_authenticated }}'=='True') {
                window.location.href = '{{ url_for("admin.index") }}'
            }
            else {
                $("#idLoginModal").modal();
            }
        });

        // Submit listener
        $('#idSubmit').click(function() {
            // Empty Fields
            if ($('#idUsername').val()=='' || $('#idPassword').val()=='' ) {
                $("#idUsername").attr('class', 'form-control form-control-user form-control-warning');
                $("#idPassword").attr('class', 'form-control form-control-user form-control-warning');
                $("#idDataRequired").attr('style', 'display: "";')
                $("#idAuthFailed").attr('style', 'display: none;')
            }
            else {
                $.ajax({
                    url: '/signin/',
                    type: "POST",
                    dataType: 'json',
                    data: {
                        username: $('#idUsername').val(),
                        password: $('#idPassword').val()
                    },
                    success: function (data) {
                        if (data['check_error']=='OK'){
                              window.location.href = '{{ url_for("admin.index") }}'
                        }
                    },
                    fail: function (data) {
                        console.log(data);
                    },
                    error: function (a) {
                        $("#idUsername").attr('class', 'form-control form-control-user form-control-error');
                        $("#idPassword").attr('class', 'form-control form-control-user form-control-error');
                        $("#idPassword").val("");
                        $("#idDataRequired").attr('style', 'display: none;')
                        $("#idAuthFailed").attr('style', 'display: "";')
                        console.log(a.responseJSON);
                    },
                })
            }
        });

    });


</script>