
{% extends 'base/exercises_template.html' %}

{% block header %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block description %}
    Descrizione del problema! Probabilmente da recuperare la DB per maggior flessibilità nella modifica della stessa.
{% endblock %}
{% block card_title %} First Graph Card {% endblock %}
{% block card_content %}
    <style>
            #mynetwork {
            height: 500px;
        }
            </style>

    <div id = "mynetwork"></div>
    <script>
        var n = {{ nodes | safe }};
        var e = {{ edges | safe }};
        var network = drawGraph(n, e);

    </script>

{% endblock %}