
{% block left_sidebar %}

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">AlgoRizzi <sup>1.0</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">


      <!-- Heading -->
      <div class="sidebar-heading">
        Problems
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGraph" aria-expanded="true" aria-controls="collapseGraph">
          <i class="fas fa-fw fa-folder"></i>
          <span>Graph</span>
        </a>
        <div id="collapseGraph" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Copertura:</h6>
            <a class="collapse-item" href="/public/coverage/">Copertura Archi</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Ricerca:</h6>
            <a class="collapse-item" href="#">Percorso minimo</a>
            <a class="collapse-item" href="#">Minor Costo</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMatrix" aria-expanded="true" aria-controls="collapseMatrix">
          <i class="fas fa-fw fa-folder"></i>
          <span>Matrix</span>
        </a>
        <div id="collapseMatrix" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">First Group</h6>
            <a class="collapse-item" href="#">Matrix1</a>
            <a class="collapse-item" href="#">Matrix2</a>
            <a class="collapse-item" href="#">Matrix3</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Second Group:</h6>
            <a class="collapse-item" href="#">Matrix4</a>
            <a class="collapse-item" href="#">Matrix5</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

{% endblock %}